/* reset */
*   {
    margin: 0;
    padding: 0;
}

/* stile header */
header  {
    background-image: url(img/pattern.png);
    background-size: contain;
    background-color: rgb(105, 170, 230);
    height: 100px;

}

.logo   {
    height: 50px;
    margin-top: 30px;
}

/* stile sezione titolo */
#autore {
    color: lightblue;
}

.autore, .data{
    color: grey;
}

.tim-img    {
    margin-top: 20px;
}

.title h1   {
    margin-top: 20px;
}

/* stile primo paragrafo */
p   {
    margin-top: 20px;
    margin-bottom: 20px;
}

.underline  {
    background-color: yellow;
}

/* stile ul */
ul  {
    margin-top: 20px;
    margin-left: 50px;
}

.terzo_titolo {
    width: 50%;
}

.titoli   {
    background-color: rgb(16, 139, 239);
}

.colorata   {
    background-color: aqua;
}